*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color:#FF7321 ;
    color: #FFF;
    padding: 20px;
    font-size: 18px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #FFF;
    color: #FF7321;
    font-size: 18px;
}

main{
    width: 100%;
    max-width: 500px;
    margin: 30px auto ;
}

h1{
    color: #FF7321;
}

.inputText{
    width: 100%;
    padding: 7px;
}

h1,p,label,button,.inputText{
    margin: 20px 0;
}

button{
    background-color: #FF7321;
    color: #FFF;
    padding: 10px;
    font-size: 18px;
    width: 100%;
}

button:hover{
    background-color:rgb(255, 145, 0);
}

