body{
    margin: 0px;
    font-family: Tahoma, Verdana, sans-serif;
}

div{
    padding-top:30px;
    padding: 30px;
    text-align: center;
}

p{
    margin: 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

span{
    font-weight: bold;
}

#secao-inicio{
    background-color: #afddfb;
}

#secao-inicio img{
    width: 150px;
}

#secao-inicio p{
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

#secao-inicio p a{
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0px 10px;
}

#secao-banner{
    margin-top: 50px;
    padding-bottom: 0px;
}

#secao-sobre h1{
    color: #1d1d1d;
    margin-bottom: 5px;
}

#secao-servicos{
    background-color: #1d80c1;
}

#secao-servicos ul{
    margin: 40px auto;
    width: 135px;
}

#secao-servicos ul li{
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}

#secao-contato{
    background-color: #1d80c1;
}

#secao-contato p{
    color: #ffffff;
    background-color:#1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#secao-contato ul{
    list-style: none;
    margin: 40px auto;
    width: 210px;
}

#secao-contato ul li{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

#secao-contato ul li a{
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}

.subtitulos{
    color:#ffffff;
    font-size: 28px;
    line-height: 42px;
}

.texto-azul{
    color: #1d80c1;
}

.texto-amarelo{
    color: #fff81b;
}

.imagens-pq{
    width:450px
}

.paragrafos{
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
}



