body{
    margin: 0;
    background-color: #f4f0e5;
    font-family: Tahoma;
}

.secao{
    margin: 40px auto;
    text-align: center;
    width: 700px;
}

.secao-produtos{
    width: 640px;
    background-color:#DE8E37 ;
    padding: 30px;
    color: #f4f0e5;
}

.img-logotipo{
    text-align: center;
    width: 200px;
}

.img-produtos{
    width: 700px;
}

.img-paes{
    width: 400px;
}

.img-bolos{
    width: 400px;
}

a{
    color: #542F0C;
}

p{
    width: 500px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    padding: 20px;
    padding-top: 0px;
    line-height: 25px;
}

h1{
    border-top: 1px solid;
    padding-top: 30px;
    font-size: 28px;
}

h2{
    font-weight: normal;
    color: #DE8E37;
}

h4{
    margin: 10px;
    margin-top: 40px;
}

span{
    font-weight: bold;
}


