*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: sans-serif;
}

header{
    background-color: #8B0600;
    color: #fff;
    padding: 10px;
}

main{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    height: 100vh
}

main h1, main p, main form{
    padding: 10px;
}

main h1{
    color: #8B0600;
}

input{
    display: block;
    width: 100%;
    height: 25px;
    margin: 5px 0;
}

button{
    background-color: #8B0600;
    color: #fff;
    width: 100%;
    height: 25px;
    font-size: 18px;
}

button:hover{
    background-color: #510703;
}

footer{
    text-align: center;
    color: #8B0600;
    position: sticky;
    bottom: 0;
    padding: 20px;
}