*{
    font-family:'Courier New', Courier, monospace;
    color: white;
}

body{
    background-image: url('imagens/fundo.jpg');
    background-size:contai;
}

header{
    text-align: center;
    background-color: rgb(24, 3, 73);
}

section h2{
    text-align: center;
    background-color: rgb(8, 3, 29);
}

article,footer{
    background-color: rgb(10, 5, 58);
    padding: 10px;
    margin: 10px;
}

footer{
    text-align: center;
}

