div{
    font-family: Verdana,Tahoma, sans-serif;
}

h1{
    font-size: 22px;
    text-align: center;
}

h2{
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: rgb(116, 14, 7);
}

h3{
    font-size: 16px;
    text-decoration: underline;
    color: rgb(116, 14, 7);
}

p{
    font-size: 14px;
    line-height: 2;
}