div{
    width: 100px;
    height: 100px;
    border: 2px solid #000000;
    margin-bottom: 10px;
    font-size: 32px;
}

.div_fixa{
    position: fixed;
    border: 2px solid red;
    right: 100px;
    bottom: 35px;
}